<h1>All Currencies</h1>
<table>
  <th>
    Name
  </th>
  <th>
    ISO Code
  </th>
  <th>
    Decimal Places
  </th>
<% @currency_array.each do |currency| %>
  <tr>
    <td>
<%= currency.currency_name %>
    </td>
    <td>
<%= currency.iso_code %>
    </td>
    <td>
<%= currency.decimal_places %>
    </td>
  </tr>
<% end %>
</table>