<h1>Currency Details</h1>
<table>
  <th>
    Attribute
  </th>
  <th>
    Value
  </th>
  <tr>
    <td>Currency Name:</td>
    <td><%= @currency.currency_name %></td>
  </tr>
  <tr>
    <td>Currency ISO Code:</td>
    <td><%= @currency.iso_code %></td>
  </tr>
  <tr>
    <td>Decimal Places:</td>
    <td><%= @currency.decimal_places %></td>
  </tr>
</table>