<% if !defined? show_new then show_new = false end %>
<% if !defined? show_edit then show_edit = false end %>
<% if !defined? show_list then show_list = false end %>
<table>
  <tr>
    <% if show_new %>
    <td class="user_nav"><%= link_to 'New Globe', new_globe_path %></td>
    <% end %>
    <% if show_edit %>
    <td class="user_nav"><%= link_to 'Edit Globe', edit_globe_path(@globe) %></td>
    <% end %>
    <% if show_list %>
    <td class="user_nav"><%= link_to 'List Globes', globes_path %></td>
    <% end %>
  </tr>
</table>

