<table>
  <tr>
    <th>Name</th>
    <th>Security</th>
    <th></th>
    <th></th>
  </tr>

<% @globes.each do |globe| %>
  <tr>
    <td><%= link_to globe.name, preview_globe_path(globe) %></td>
    <td><%= globe.security %></td>
    <td><%= link_to image_tag('edit.png', :height => 30), edit_globe_path(globe) %></td>
    <td><%= link_to image_tag('remove.png', :height => 30), globe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
