<% if !@masterglobe.nil? && @masterglobe.id != @globe.id %>
<div class="masterglobe">
<span class="masterglobe_heading"><%= link_to @masterglobe.name, preview_globe_path(@masterglobe) %></span>
<% else %>
<div class="masterglobe_self">
<% end %>
<span><%= link_to image_tag("PI-Guard-logo-1.1.gif", :size => "140x40", :align => "right", :border => "0", :alt => "01010000 01001001 01000111 01110101 01100001 01110010 01100100"), "http://www.longworld.com/" %></span>
