<% if !@masterglobe.nil? && @masterglobe.id != @globe.id %>
<div class="masterglobe">
<span class="masterglobe_heading"><%= link_to @masterglobe.name, preview_globe_path(@masterglobe) %></span>
<% else %>
<div class="masterglobe_self">
<% end %>
<span><%= link_to image_tag("/images/ciman.jpg", :size => "63x25", :align => "right", :border => "1", :alt => "01100011 01101001 01101101 01100001 01101110"), "http://www.ciman.co.uk/" %></span>
