<% if !@masterglobe.nil? && @masterglobe.id != @globe.id %>
<div class="masterglobe">
<span class="masterglobe_heading"><%= link_to @masterglobe.name, preview_globe_path(@masterglobe) %></span>
<% else %>
<div class="masterglobe_self">
<% end %>
