<div class="config_area">
<h1>Globe Overview</h1>
<table border="1" cellspacing="0" width="100%">
  <tr>
    <td>Name:</td>
    <td><%= @globe.name %></td>
  </tr>
  <tr>
    <td>Security:</td>
    <td><%= @globe.security %></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to "Live Site", preview_globe_path(@globe) %></td>
  </tr>
</table>
</div>