  <tr>
    <td>
      <table width="100%">
        <tr>
          <td><span class="globe_name"><%= @globe.name %></span></td>
          <% if @shadowglobes.count > 0 %>
          <td>Relationships:&nbsp;
          <%=  select_tag "globe[id]", raw("<option value='0'>[Navigate to...]</option>") + options_from_collection_for_select(@shadowglobes.find(:all, :order => 'name'), "id", "name"), :onChange => "javascript:navigate_to_shadow_globe(document.getElementById('globe_id').value)" %>
          </td>
        <% end %>
        </tr>
      </table>
    </td>
  </tr>