<div class="config_area">
<h1>Editing globe</h1>

<%= render 'form' %>

<%# 26/7/13 DH: Changing IP to valid subdomain (after changing from invalid subdomain to IP) %>
<%# <% debugger %> 

<% if $invalidSubdomain %>
  <% globe = Globe.find(params[:id]) %>
  <% newURL = "http://" + globe.globe_reference + "." + $invalidSubdomain[:domain]  + ":" + request.port.to_s + globe_path %>
  <%= link_to 'New Show', newURL %> |
<% else %>
  <%# 26/7/13 DH: Original show link %>
  <%= link_to 'Orig Show', @globe %> |
<% end %>


<%= link_to 'Back', globes_path %>
</div>