<% if $invalidSubdomain %>
  <p class="login_alert"> <%= $invalidSubdomain[:msg] %></p>
<% end %>

<%# debugger %>

<div class="config_area">
<h1>Listing Globes</h1>

<%= render :partial => 'globes/list' %>
<%= render :partial => 'globes/list_nav', :locals => { :show_edit => false, :show_list => true, :show_new => true }%>


</div>