<div class="config_area">

<%= render :partial => 'globes/overview' %>
<%= render :partial => 'globes/list_nav', :locals => { :show_edit => true, :show_back => true }%>
<br />
<%= render :partial => 'globes/shadow_list' %>
<br />
<%= render :partial => 'profiles/detailed_list' %>

</div>
<div class="pig_nav_area" style="vertical-align:middle">
</div>
