<% if @data_sheets.count > 1 %>
<div class="preview_data_sheets">
<% @data_sheets.each do |data_sheet| %>
<span class="<%= if (@active_data_sheet && (data_sheet.id == @active_data_sheet.id)) then render :text => "raised_box active_data_sheet" else render :text => "raised_box" end %>" width="<%= 100 / @data_sheets.count %>%"><%= link_to data_sheet.name, preview_globe_profile_data_sheet_url(@globe, @active_profile, data_sheet) %></span>
<% end %>
</div>
<% end %>