<center>
<table class="maintable" border=0 cellpadding=10 cellspacing=0 summary="">
<tr>
<td valign="bottom" align="center">
<table width=75 height=75 border=0 cellpadding=3 cellspacing=0 bordercolor=#000000 summary="">
	<tr>
		<td class="blocks_topleft">&nbsp;</td>
		<td class="blocks_topright">&nbsp;</td>
	</tr>
	<tr>
		<td class="blocks_bottomleft">&nbsp;</td>
		<td class="blocks_bottomright">&nbsp;</td>
	</tr>
</table>
</td>
<td align="center">
<table border=1 cellpadding=10 cellspacing=0 bgcolor=#FFF1DD bordercolor=#000000 summary="">
	<tr>
		<td align=center class="pig_title"><div class="pig_title">Registration Completed</div></td>
	</tr>
	<tr>
		<td align=center>
			<center>
				<p>
					Thank You!
				</p>
			<!--<img id="pig" src="Images/piguard_1_1.png" border="0" width="215" height="211" alt="PIGuard" onMouseOver="javascript:mouseOverImage();" onMouseOut="javascript:mouseOutImage();"/>-->
			</center>
		</td>
	</tr>
	<tr>
		<td align=center class="pig_subtitle"><div id="subtitle" onmouseover="dim();" class="pig_subtitle">We will be in contact with you soon...</div></td>
	</tr>
</table>
</td>
<td valign="top" align="center">
<table width=75 height=75 border=0 cellpadding=3 cellspacing=0 bordercolor=#000000 summary="">
	<tr>
		<td class="blocks_bottomright">&nbsp;</td>
		<td class="blocks_bottomleft">&nbsp;</td>
	</tr>
	<tr>
		<td class="blocks_topright">&nbsp;</td>
		<td class="blocks_topleft">&nbsp;</td>
	</tr>
</table>
</td>
</tr>
<tr> 
<td colspan="3" align="center">
<table border=0 cellpadding=7 cellspacing=20 bordercolor=#000000 summary="">
	<tr>
		<td width="150" align=center class="button_progress">
			<div onMouseover="this.parentNode.className='button_progress_over';" onMouseout="this.parentNode.className='button_progress';">
				<%= link_to 'Home', :controller => 'home', :action => 'index' %>
			</div>
		</td>
	</tr>
</table>
</td>
</tr>
  </table>
</center>