body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,th,td { margin: 0; padding: 0; }
table { border-collapse:collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
fieldset,img {	border: 0; }
ol,ul { list-style: none; }

td { vertical-align: top; }

strong { font-weight: bold; }
em { font-style: italic; }

header, footer, nav, section, article, hgroup, aside, time { display: block; position: relative; }

img { display: block; }

.left { float: left; }
.right { float: right; }

.cleared > li:after, .clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix, * html .cleared > li { zoom: 1; }
*:first-child+html .clearfix, *:first-child+html .cleared > li { zoom: 1; }

/* ****************************************************************************************************
 * Comment Elements
 */

body { background: #eee url('images/body.png') center top repeat-x; }
.wrapper { max-width: 1120px; min-width: 960px; margin: 0 auto; }
.centre { width: 960px; margin: 0 auto; position: relative; }

#header { height: 180px; background: url('images/header.png') center top no-repeat; }
#logo { display: block; width: 160px; height: 130px; position: absolute; left: 10px; top: 0; }

#header .centre { height: 180px; border-bottom: 1px dashed #ccc; }
#header nav { display: block; position: absolute; height: 30px; width: 960px; left: 10px; bottom: 10px; }
#header nav ul { display: block; }
#header nav li { display: inline-block; }
#header nav li a { display: inline-block; padding: 5px 10px; color: #666; text-decoration: none; text-transform: uppercase; font-size: 12px; font-weight: bold;  }
#header nav li.selected a { color: #772d6c; background: #fff; border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }
#header nav li a:hover { color: #772d6c; background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }

#header .header-content { position: absolute; right: 10px; top: 50px; width: 700px; line-height: 25px; }
#header .header-content * { vertical-align: middle; }
#header .header-content img { display: inline; }

#search-form { position: absolute; top: 5px; right: 10px; display: block; height: 26px; width: 198px; background: #fff; border: 1px solid #e4a1e5; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;  }
#search-criteria { width: 164px; height: 15px; position: absolute; left: 7px; top: 5px; border: none; outline: none; background: #fff; }
#search-submit { position: absolute; right: 7px; top: 3px; cursor: pointer; text-indent: -999px; width: 20px; height: 20px; border: none; outline: none; background: #fff url('images/search-submit.png'); }

#page { padding: 10px 0; background: #fff url('images/page.png') center top repeat-y; }

#page h1.arrows { padding: 5px 0 15px 250px; margin: 0; border-bottom: 1px dashed #ccc; background: url('images/headline-arrows.png') 140px 5px no-repeat; }

#page .contact-line { background: url('images/contact-line.png') center 10px no-repeat; padding: 30px 0 0 0; height: 40px; }
#page .contact-line  img { border: 0 none;display: inline;margin: 0 0 0 5px; vertical-align: middle;}

#editable { padding: 0 10px; margin: 0 0 20px 0; }
#editable.right-column { width: 700px; float: right; padding: 15px 10px; margin: 0; }

#editable.search .result { margin: 0 0 15px 0; padding: 0 0 15px 0; border-bottom: 1px solid #ddd; }
#editable.search .result h2 { margin: 0; }
#editable.search .result p { margin: 0; }
#editable.search .result a { font-size: 11px; }

#editable article.news { margin: 0 0 15px 0; padding: 0 0 15px 0; border-bottom: 1px solid #ddd; }
#editable article.news h1 { font-size: 18px; line-height: 22px; }
#editable article.news time { margin: -5px 0 5px 0; color: #999; }
#editable article.news .more { font-size: 11px; margin: 0; }

#editable p, #editable li { max-width: 640px; }
#editable p.large { max-width: none; }
#editable p.largest { max-width: none; }

#pagination ul { display: block; list-style: none; margin: 0 !important; text-align: center; }
#pagination li { display: inline-block; padding: 5px; }

#sidenav { width: 229px; float: left; background: #eee; border-right: 1px solid #ddd; padding: 10px 0 40px 0; margin: 15px 0 5px 0;
	-moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;
	background: -moz-linear-gradient(left, #f7f7f7 0%, #eeeeee 95%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f7f7f7), color-stop(95%,#eeeeee), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(left, #f7f7f7 0%,#eeeeee 95%,#e3e3e3 100%);
	background: -o-linear-gradient(left, #f7f7f7 0%,#eeeeee 95%,#e3e3e3 100%);
	background: -ms-linear-gradient(left, #f7f7f7 0%,#eeeeee 95%,#e3e3e3 100%);
	background: linear-gradient(left, #f7f7f7 0%,#eeeeee 95%,#e3e3e3 100%);
	
}
#sidenav ul { display: block; }
#sidenav li { position: relative; border-bottom: 1px solid #ddd; font-size: 13px; margin: 0; padding: 0 0 0 10px; }
#sidenav li a { display: block; padding: 5px 0 5px 10px; color: #555; text-decoration: none; }
#sidenav li a:hover { color: #772d6b; }
#sidenav li.prev { border-bottom: none; }
#sidenav li.toplevel { border-bottom: none; border-top: 1px solid #ddd; }
#sidenav li.toplevel.selected { border-top: none; border-bottom: 1px solid #f1f1f1; margin-bottom: -1px; z-index: 10; position: relative; }
#sidenav li.first { border-top: 1px solid #ddd; }
#sidenav li.first.selected { border-top: none; }
#sidenav li.selected { padding: 0 0 5px 9px; border-bottom: none; background: url('images/sidenav-selected.png') right bottom no-repeat; }
#sidenav li.selected a { padding: 10px 0 10px 10px; color: #772d6b; font-weight: bold; background: #fff; border: 1px solid #ddd; border-right: 1px solid #fff; position: relative; left: 1px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	
	}
#sidenav #search-form { border: 1px solid #ccc; top: auto; bottom: 6px; width: 203px; }
#sidenav .light { position: absolute; right: 20px; top: 5px; color: #bbb; }

#static-blocks { position: relative; width: 230px; float: left; clear: left; }
#static-news { position: relative; width: 210px; padding: 90px 10px 0 10px; background: url('images/aside-news.png') no-repeat; }
#static-news .button-link { position: absolute; right: 10px; top: 32px; }
#static-news article { padding: 8px; border: 1px solid #ddd; border-bottom: 1px solid #ccc;
	background: #ffffff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 95%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(95%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 95%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 95%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 95%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f7f7f7 95%,#ffffff 100%);
	-webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	box-shadow: 1px 2px 4px rgba(0,0,0,.2);
	
	}
#static-news .arrow { position: absolute; top: 80px; left: 105px; height: 11px; width: 22px; background: url('images/aside-news-arrow.png'); }
#static-news h1, #static-news h1 a { font-size: 11px; line-height: 15px; color: #555; font-weight: normal; }
#static-news h1 { margin: 0 0 5px 0; }

#static-event { padding: 8px; margin: 15px 0; border: 1px solid #772f78; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%);
	background: linear-gradient(top, #f5f5f5 0%,#f1f1f1 100%);
	
	}
#static-event p { margin: 0; }

.static-block {margin:20px 10px;text-align:center;}

#latest-news { background: #fcfcfc; border: 1px solid #ddd; padding: 10px 0; height: 70px; max-width: 980px; margin: 0 auto 15px auto; position: relative;
	-webkit-box-shadow: inset 0px 10px #f9f9f9;
	-moz-box-shadow: inset 0px 10px #f9f9f9;
	box-shadow: inset 0px 10px #f9f9f9;
	-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
	
	}
#latest-news #chick { width: 140px; height: 130px; position: absolute; left: 50%; top: -20px; margin-left: -460px; }
#latest-news article {  width: 760px; margin: 0 auto; padding: 0 0 0 180px; }
#latest-news article h3 { margin: 0 0 5px 0; }
#latest-news article p.large { margin: 0 0 5px 0; width: 600px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#latest-news article .button-link { position: absolute; right: 0; top: 15px; }

#features { text-align: center; white-space: nowrap; max-width: 980px; width: auto; background: #eee; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  }
#features .box { white-space: normal; min-height: 75px; overflow: hidden; position: relative; text-align: left; vertical-align: top; display: inline-block; margin: 19px 9px; padding: 42px 10px 25px 10px; width: 198px; border: 1px solid #772d6b; background: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  }
#features .box p { font-size: 12px; line-height: 15px; }
#features .box p:last-of-type { margin: 0; }
#features .box h1 { color: #fff; font-size: 16px; line-height: 35px; position: absolute; left: 0; top: 0; height: 35px; margin: 0; padding: 0 10px; right: 0;
	background: #772d6b;
	background: -moz-linear-gradient(top, #85427a 45%, #772d6b 55%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#85427a), color-stop(55%,#772d6b));
	background: -webkit-linear-gradient(top, #85427a 45%,#772d6b 55%);
	background: -o-linear-gradient(top, #85427a 45%,#772d6b 55%);
	background: -ms-linear-gradient(top, #85427a 45%,#772d6b 55%);
	-moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px;
	border-top-left-radius: 8px; border-top-right-radius: 8px;
	
	}
#features .box h1 a { display: block; color: #fff; }
#features .box.twitter h1 a { background: url('images/twitter.png') right 6px no-repeat; }
#features .box.twitter .tweet { overflow: hidden; position: relative; height: 75px; }
#features .box.twitter .tweet p { position: absolute; height: 75px; left: 0; top: 100px; font-style: italic; }
#features .box.twitter .tweet a { }
#features .box .arrow-link { position: absolute; left: 10px; bottom: 5px; }


#footer { background: #fff url('images/page.png') center top repeat-y; }
#footer .centre { width: 940px; padding: 15px 10px; border-top: 1px solid #ddd; }
#footer p, #footer a { margin: 0; color: #999; font-size: 10px; text-transform: uppercase; text-decoration: none; }

input, select, textarea { color: #666; line-height: 15px; font-size: 12px; font-family: Arial, sans-serif; }

.error { color: #e5172f; }

.content-form { display: block; }
.content-form fieldset { display: block; padding: 20px 0 20px 20px; background: #fcfcfc; border: 1px solid #ddd; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  }
.content-form label { color: #666; display: block; margin: 0 0 5px 0; }
.content-form label.error { color: #e5172f; }
.content-form label:after { content: ": "; }
.content-form label.info:after { content: ""; }
.content-form label.required { font-weight: bold;  }
.content-form label.required:after { content: ": *"; }
.content-form ul { list-style: none !important; margin: 0 !important; }
.content-form li { margin: 0 10px 5px 0 !important; width: 320px; float: left; }
.content-form li.double { width: 600px; }
.content-form label.line { margin: 10px 0 5px 0; }
.content-form .field { width: 300px; background: #fff; padding: 5px; border: 1px solid #bbb; outline: none; -moz-border-radius: 5px; -webkit-borderr-radius: 5px; border-radius: 5px;  }
.content-form .field.error { border: 1px solid #e5172f; color: #e5172f; }
.content-form .field:focus { border: 1px solid #772d6b !important; }
.content-form textarea.field { height: 50px; }
.content-form select.field { padding: 4px; }
.content-form .button-link { margin: 10px 0 0 0; }
.content-form input, .content-form textarea { color: #444; }
.content-form submit {}

#sitemap {padding-left: 30px; }
#sitemap first, #sitemap ul.depth3 {display: none; }
#sitemap ul li {font-weight: bold; }
#sitemap ul.depth2 li {font-weight: normal; }

#footernav {margin: 0px 10px;float:left;max-width:550px;}
#footernav li {display:inline-block;padding:0px 5px 0px 10px;}


#google-plusone {display: inline; height: 26px; width: 55px; position: absolute; top: 50px; right:19px; }
#livechat {margin: 10px 0px; clear:left; float:left; position:relative;}