body, p { color: #666; font-size: 12px; line-height: 15px; font-family: Helvetica, Arial, sans-serif; }

strong { font-weight: bold; }
em { font-style: italic; }

a { color: #772d6b; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { color: #772d6b; margin: 0 0 10px 0; font-weight: bold; }

h1 { font-size: 26px; line-height: 30px; }
h2 { font-size: 18px; line-height: 22px; }
h3 { font-size: 16px; line-height: 20px; }
h4 { font-size: 14px; line-height: 18px; }
h5, h6 { font-size: 12px; }

h1.headline { font-size: 22px; line-height: 26px; }
h1.headline , h2.headline { font-weight: normal; padding: 5px 0 15px 0; margin: 0 0 15px 0; border-bottom: 1px dashed #ccc; }

h2.headline-arrows { line-height: 30px; font-size: 26px; padding: 0 100px 0 0; display: inline-block; font-weight: normal; color: #cadb37; background: url('images/headline-arrows.png') center right no-repeat; }
h2.headline-arrows a { font-weight: normal; color: #cadb37; }
h2.headline-arrows em, h2.headline-arrows a em { font-style: normal; color: #772d6b; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

p, li, td { font-size: 13px; line-height: 17px; margin: 0 0 10px 0; }

p.largest { font-size: 16px; line-height: 20px; }
p.large { font-size: 14px; line-height: 20px; }
p.small { font-size: 11px; line-height: 15px; }

#editable ul { list-style: disc outside; margin: 5px 0 15px 20px; }
#editable ol { list-style: decimal outside; margin: 5px 0 15px 20px; }
#editable li { margin: 0 0 5px 10px; }

.purple { color: #772d6b; }

.button-link { display: inline-block; position: relative; cursor: pointer; color: #772d6b; font-size: 15px; font-weight: bold; text-shadow: 0 1px 2px #fff; text-decoration: none; padding: 0 25px 0 15px; height: 33px; line-height: 33px; border: 1px solid #abb54a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	background: #d8e846;
	background: -moz-linear-gradient(top, #deeb62 45%, #d7e646 55%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#deeb62), color-stop(55%,#d7e646));
	background: -webkit-linear-gradient(top, #deeb62 45%,#d7e646 55%);
	background: -o-linear-gradient(top, #deeb62 45%,#d7e646 55%);
	background: -ms-linear-gradient(top, #deeb62 45%,#d7e646 55%);
	-webkit-box-shadow: inset 0px 0px 2px #e5f085, 0px 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0px 0px 2px #e5f085, 0px 2px 2px rgba(0,0,0,.1);
	box-shadow: inset 0px 0px 2px #e5f085, 0px 2px 2px rgba(0,0,0,.1);
}
.button-link:after { content: " "; display: block; height: 10px; width: 10px; background: url('images/button-link.png') center right no-repeat; position: absolute; right: 10px; top: 50%; margin-top: -4px; }

.headline .button-link { float: right; font-size: 20px; padding: 0 35px 0 25px; height: 48px; line-height: 48px; margin: 0 0 0 50px; }
.headline .button-link:after { right: 20px; }
h2.headline .button-link { margin-left: 15px; }

p .button-link { font-size: 14px; height: 28px; line-height: 28px; padding: 0 20px 0 10px; }

article time { color: #999; font-size: 11px; font-weight: bold; text-transform: uppercase; }

img.image-float-left { float: left; margin: 0 15px 15px 0; }
img.image-float-right { float: right; margin: 0 0 15px 15px; }

a.arrow-link { display: inline-block; padding: 0 15px 0 0; position: relative; color: #772d6b; font-weight: bold; font-size: 10px; text-transform: uppercase; text-decoration: none; background: url('images/arrow-link.png') right top no-repeat; }

.visible-table { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.visible-table td { padding: 5px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.visible-table tr:nth-of-type(2n+1) { background: #f5f5f5; }
.visible-table th { font-size: 14px; padding: 7px 5px; color: #fff; font-weight: bold; border-right: 1px solid #b676b8;
	background: #772d6b;
	background: -moz-linear-gradient(top, #85427a 45%, #772d6b 55%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#85427a), color-stop(55%,#772d6b));
	background: -webkit-linear-gradient(top, #85427a 45%,#772d6b 55%);
	background: -o-linear-gradient(top, #85427a 45%,#772d6b 55%);
	background: -ms-linear-gradient(top, #85427a 45%,#772d6b 55%);
	}
.visible-table th:last-of-type { border-right: 1px solid #ccc; }

.alpha-lists {}
ol.alpha-lists li { list-style: lower-alpha }

hr { width: 100%; float: left; height: 0px; color: #CCCCCC; background-color: #FFFFFF; border: 1px dashed #CCCCCC; border-bottom: 0px; padding: 0; margin: 10px 0 15px 0; }

div.right-content {float:right;border-left:1px solid #CCCCCC; padding:2px 10px;width:230px; margin:0px 0px 10px 10px;}
div.right-content p {font-style: italic;}

#editable p.stretch, p.stretch { max-width:680px;}