<h1>Rugby Football Union Supporters Club</h1>
<div class="rfu_paragraph">The England Rugby Supporters Club (ERSC) provides its members with a pitch-full of valuable benefits including England match ticket ballots, priority booking periods and exclusive discounts.</div>
<div class="rfu_paragraph">When you join the ERSC you will receive a welcome pack filled with exclusive England Rugby gifts plus unique member benefits and offers throughout the year.</div>
<div class="rfu_paragraph">And all new members who sign up before 5pm on Monday, May 16 will automatically be entered into a draw for two tickets to England v Barbarians (Sunday, May 29) and an overnight stay at the London Marriott Hotel Twickenham on Saturday, May 28.</div>
<div class="rfu_paragraph">Your membership will also help to ensure the future of rugby in England, as all membership subscription fees are invested back into the game to support the England team and the development of rugby at all levels.</div>

