<h1>The RFU Home</h1>
<div class="rfu_paragraph">The Rugby Football Union is the national governing body for grassroots and elite rugby in England, with 1,900 autonomous rugby clubs in its membership.</div>
<div class="rfu_paragraph">The clubs are grouped within 35 Constituent Bodies (CBs), comprised of counties - some individual, some combined - the three armed forces, Oxford and Cambridge Universities, England Schools Rugby Football Union and England Students.</div>
<div class="rfu_paragraph">All of this is supported by the RFU's 50 Rugby Development Officers, eight Regional Development Managers and no less than 150 Community Rugby Coaches across the country, who provide some 30,000 coaching sessions a year for young people.</div>
<div class="rfu_paragraph">The RFU employs approximately 500 paid staff and helps to train and support up to 40,000 volunteers whose roles include:</div>
<ul>
  <li>Organising rugby activity, including the playing, coaching and refereeing of matches and recreational rugby at all levels</li>
  <li>Supporting the volunteer workforce</li>
  <li>Working with clubs to secure grants and loans for facilities</li>
  <li>Fundraising, handling money and insurance</li>
  <li>Offering medical advice and support</li>
  <li>Committee member/trustee</li>
  <li>Secretarial, administration and clerical help</li>
</ul>
<div class="rfu_paragraph">The RFU endeavours to operate to PLC standards but it is neither a company nor a charity. It is registered under the Industrial & Provident Societies Acts 1965-78 and is, in layman's terms, a "Friendly Society". This means that the RFU is owned by its member clubs and aims to make a profit to reinvest in rugby union in England.</div>
<div class="rfu_paragraph">Its income is made up of funding from sponsorship, government, ticket sales from international matches at Twickenham, hospitality and catering, a travel company and television rights.</div>