<div class="bottom_navigation">
  <span class="bottom_navigation_left">
    <%= link_to "[All Globes]", globes_url %>|<%= link_to "[All Profiles]", globe_profiles_url(@globe) %>|<%= link_to "[All Data]", globe_data_elements_url(@globe) %>
  </span>
  <span class="bottom_navigation_right">
    <%= link_to "[Home]", preview_globe_path(@globe) %>
  </span>
</div>