<table>
  <tr>
    <td>Name:</td>
    <td><%= @club.name %></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><%= @club.location %></td>
  </tr>
  <tr>
    <td>County:</td>
    <td><%= @club.county %></td>
  </tr>
</table>
